/************** Reset CSS *******************/
:root {
  --main-font: 'Lato', sans-serif;
  --logo-font: 'Cookie', cursive;
  --font-size: 16px;
  --main-color: rgb(251, 186, 24);
  --second-color: #222;
  --main-modal-color: rgba(251, 186, 24, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.9);
  --container-width: 1200px;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: var(--second-color);
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

h1 {
  font-weight: 900;
}

p {
  letter-spacing: 1px;
}

.w80 {
  min-width: 80vw;
  margin: 0 auto;
}

/************** Menu-hamburguesa ******************/
.main-header {
  position: sticky;
  top: 0;
  padding: 1rem;
  color: var(--second-color);
  background-color: white;
  z-index: 1000;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--second-modal-color);
  transition: transform 0.3s ease;
  /* de abajo */
  /* transform: translate(0, 100%); */
  /* de derecha */
  /* transform: translate(100%, 0); */
  /* de izquierda */
  /* transform: translate(-100%, 0); */
  /* De arriba */
  transform: translate(0, -100%);
}

.panel.is-active {
  transform: translate(0, 0);
}

.panel-btn {
  position: fixed;
  z-index: 1000;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}
.menu {
  height: 70vh;
}

.menu,
.login-user {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu a,
.login-user a {
  padding: 1rem 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main-color);
  text-transform: uppercase;
}

.menu a:hover,
.login-user a:hover {
  transition: all 0.3s ease;
  font-weight: bold;
}

.menu ul {
  padding: 0;
  width: 100%;
}

.login-user {
  padding-top: 2rem;
}
.login-user a {
  width: 100vw;
  font-size: 1rem;
  padding: 0.5rem;
}

.login-user ul {
  padding: 0;
}
/************** Fin Menu-hamburguesa ******************/

/************* MAIN CONTAINER ************************/
.main-container {
  max-width: 90vw;
  margin: 0 auto;
  font-size: 0.9rem;
  text-align: center;
}
/***************FIN MAIN CONTAINER********************/

/************* LOGO *******************/
.logo {
  font-family: var(--logo-font);
  text-align: center;
  font-size: 4rem;
}
/*************FIN LOGO *******************/

/******************** BUTTON **************/
.button {
  padding: 0.8rem 2.2rem;
  border: 1px solid var(--second-color);
  border-radius: 50px;
  margin: 0 auto;
  width: 12rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
}
/***************** FIN BOTON *************/

/************* SECTION1 *********************/
.section1 {
  margin-top: 2rem;
}

.section1__title {
  font-size: 2rem;
}

.section1__button {
  background-color: var(--second-color);
  color: white;
  margin: 2rem auto 2rem auto;
}

.section1__img {
  height: 40vh;
}
/*************** FIN SECTION 1 *******************/

/**************** SECTION 2 ************************/
.section2 {
  margin-top: 5rem;
}

.section2__title {
  font-weight: 900;
}

.section2__specialties {
  display: flex;
  flex-direction: column;
}

.section2__element1,
.section2__element2,
.section2__element3,
.section2__element4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  border-bottom: 1px dashed rgba(34, 34, 34, 0.2);
}

.section2__element4 {
  border-bottom: none;
}

.section2__icon1,
.section2__icon2,
.section2__icon3,
.section2__icon4 {
  font-size: 3rem;
  width: 100px;
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 1rem 0;

  border: 1px solid var(--second-color);
  border-radius: 50%;
}
.section2__icon1::before,
.section2__icon2::before,
.section2__icon3::before,
.section2__icon4::before {
  line-height: 100px;
}
/**************** FIN SECTION 2 ***********************/

/************** SECTION 3 ****************************/
.section3 {
  margin-top: 5rem;
}
.section3__title {
  font-weight: 900;
  margin: 2rem 0;
}

.section3__button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section3__img {
  height: 40vh;
}
/************** FIN SECTION 3 ************************/

/*******************SECTION 4 *************************/
.section4 {
  margin-top: 5rem;
}

.section4__title {
  font-weight: 900;
  margin: 2rem 0;
}

.section4__button {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section4__img {
  height: 40vh;
}
/******************* FIN SECTION 4 *****************/

/*************** SECTION 5 ****************************/
.section5 {
  margin-top: 5rem;
}

.section5__title {
  font-weight: 900;
  margin: 2rem 0;
}

.section5__element1,
.section5__element2,
.section5__element3 {
  display: flex;
  margin-bottom: 1.3rem;
}

.section5__icon1,
.section5__icon2,
.section5__icon3 {
  font-size: 3rem;
  width: 100px;
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 1rem 0;

  border: 1px solid var(--second-color);
  border-radius: 50%;
}

.section5__icon1::before,
.section5__icon2::before,
.section5__icon3::before {
  line-height: 100px;
}

.section5__img {
  height: 40vh;
  margin: 2rem auto;
}
/********************* FIN SECTION 5 *******************/

/****************** SECTION COMMENTS **************************/
.comments {
  margin-top: 5rem;
}

.comments__title {
  font-weight: 900;
}

.comments__icon {
  font-size: 1.8rem;
}

.comments__content {
  font-weight: 300;
}

.comments__photo {
  width: 40vw;
  border-radius: 50%;
  border: 1px solid rgba(34, 34, 34, 0.3);
}

.comments__arrows {
  margin: 1rem auto;
  font-size: 1.5rem;
}

.comments__arrows-left {
  margin-right: 2rem;
}

.comments__arrows-right,
.comments__arrows-left {
  cursor: pointer;
}
/********************* FIN COMMENTS *******************************/

/****************** FOOTER *************************************/
.footer {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
.footer__logo {
  display: none;
}

.footer__contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
}

.footer__contact1,
.footer__contact2,
.footer__contact3 {
  padding: 2rem 0.5rem;
}

.footer__contact2,
.footer__contact3 {
  width: 50%;
}

.footer__contact2 {
  border-right: 1px solid rgba(34, 34, 34, 0.2);
}

.footer__contact1 {
  width: 100%;
}

.footer__contact1-icon1,
.footer__contact2-icon2,
.footer__contact3-icon3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.footer__menu {
  border-right: 1px solid rgba(34, 34, 34, 0.2);
}

.footer__menu,
.footer__social-media {
  margin-top: 2rem;
  width: 50%;
  flex-shrink: 0;
  flex-grow: 0;
}

.footer__menu-item,
.footer__social-media-item {
  margin: 1.5rem auto;
}

.footer__menu-link,
.footer__social-media-link {
  width: 100%;
  text-decoration: none;
  color: var(--second-color);
}

/***************** FIN FOOTER *********************************/

/************* MEDIAS QUERIES TO DESKTOP ***************/
/******************************************************/

@media screen and (min-width: 992px) {
  .main-container {
    width: 80vw;
    max-width: var(--container-width);
    text-align: left;
  }

  .panel-btn {
    display: none;
  }

  .main-header {
    position: static;
    display: flex;
    align-items: center;
    padding: 0;
    height: 90px;
  }

  .logo {
    height: 90px;
    line-height: 90px;
    margin-right: 7rem;
  }

  .menu {
    height: auto;
    display: flex;
    flex-direction: row;
  }
  .menu a {
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--second-color);
    transition: none;
    padding: 1rem 1.5rem;
    margin-right: 0.5rem;
  }

  .menu a:hover {
    border-bottom: 1px solid var(--main-modal-color);
  }

  .menu a :last-child {
    margin-right: 0;
  }

  .panel {
    position: static;
    z-index: 0;
    width: 100%;
    transform: none;
    height: 90px;
    transition: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
  }
  .menu__list {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-user {
    padding-top: 0;
    width: fit-content;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
  }
  .login-use:hover {
    transform: none;
  }

  .login-user__link {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    transition: none;
    /* background-color: green; */
  }
  .login-user__list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .login-user__list:last-child {
    margin-right: 0;
  }

  .login-user__item {
    text-align: center;
  }

  .login-user__item a {
    color: var(--second-color);
    /* width: fit-content; */
    padding: 1rem 1.5rem;
    font-weight: 400;
    width: 100%;
  }
  .login-user__item .login-user__login {
    padding-right: 0;
  }

  .section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section1__group1 {
    width: 50%;
  }

  .section1__group2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .section1__button {
    margin-left: 0;
  }

  .section1__img {
    width: 20rem;
    height: auto;
  }

  .section2 {
    text-align: center;
    margin-top: 8rem;
  }

  .section2__title {
    font-size: 1.8rem;
  }

  .section2__specialties {
    flex-direction: row;
    margin-top: 5rem;
  }

  .section2__element1,
  .section2__element2,
  .section2__element3,
  .section2__element4 {
    flex-direction: column;
    border-bottom: none;
    border-right: 1px dashed rgba(34, 34, 34, 0.2);
    padding: 0 1rem;
  }
  .section2__element1 {
    padding-left: 0px;
  }
  .section2__element4 {
    border-right: none;
  }

  .section2__icon1,
  .section2__icon2,
  .section2__icon3,
  .section2__icon4 {
    font-size: 2.5rem;
    height: 80px;
    width: 80px;
  }

  .section2__icon1::before,
  .section2__icon2::before,
  .section2__icon3::before,
  .section2__icon4::before {
    line-height: 80px;
  }

  .section3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 10rem;
  }

  .section3__group1 {
    width: 50%;
  }

  .section3__group2 {
    width: 50%;
    order: -1;
  }
  .section3__title {
    font-size: 1.8rem;
  }

  .section3__button {
    margin-left: 0;
  }

  .section3__img {
    width: 20rem;
    height: auto;
    display: flex;
  }

  .section4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 10rem;
  }

  .section4__group1 {
    width: 50%;
  }

  .section4__group2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .section4__img {
    width: 25rem;
    height: auto;
    display: flex;
    justify-content: flex-end;
  }

  .section4__title {
    font-size: 1.8rem;
  }

  .section4__button {
    margin-left: 0;
  }

  .section5 {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    margin-top: 10rem;
  }

  .section5__group1 {
    width: 50%;
  }
  .section5__group2 {
    width: 50%;
    order: -1;
  }

  .section5__img {
    order: -1;
    width: 25rem;
    height: auto;
    margin-left: 0;
  }

  .section5__title {
    font-size: 1.8rem;
  }

  .section5__icon1,
  .section5__icon2,
  .section5__icon3 {
    font-size: 2rem;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
  }

  .section__icon1::before {
    line-height: 70px;
  }

  .comments {
    margin: 10rem auto;
    text-align: center;
    max-width: 50vw;
  }

  .comments__icon {
    margin: 0.5rem auto 3rem;
  }

  .comments__photo {
    width: 7rem;
  }

  .comments__arrows-left {
    margin-right: 10rem;
  }

  .footer__logo {
    display: flex;
    font-family: var(--logo-font);
    font-size: 3rem;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
    margin-bottom: 1rem;
  }
  .footer ul li {
    margin: 0;
  }

  .footer__social-media-list,
  .footer__menu-list {
    margin: 0;
  }

  .footer__contact {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .footer__contact1,
  .footer__contact2,
  .footer__contact3 {
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    /* justify-content: space-between; */
  }
  .footer__contact3 {
    margin-bottom: 0;
  }
  .footer__contact1-icon1,
  .footer__contact2-icon2,
  .footer__contact3-icon3 {
    border: 1px solid var(--second-color);
    padding: 1rem;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .footer__contact2 {
    border-right: none;
  }

  .footer__logo,
  .footer__contact,
  .footer__menu,
  .footer__social-media {
    width: 25%;
  }

  .footer__menu {
    margin-top: 0;
    border: 0;
    display: flex;
    justify-content: center;
    justify-content: flex-end;
  }

  .footer__social-media {
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
  }

  .footer__menu-item,
  .footer__social-media-item {
    padding: 1rem 0 1rem 2rem;
  }
}
/**************** FIN MEDIAS QUERIES DESKTOP HOME ***************/

/****************************************************************/
/* ****************** INICIO MOBILE PRODUCE ************************ */
/************************************************************************/

.produce-section1 {
  margin-top: 3rem;
}

.produce-section1__img img {
  border-radius: 50%;
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  object-position: right;
}

.produce-section1__title {
  font-size: 2rem;
  padding: 0;
}

.produce-section1__button {
  margin-top: 2rem;
  background-color: var(--second-color);
  color: white;
}

.produce-section3,
.produce-section4,
.produce-section5,
.produce-section6 {
  margin-top: 5rem;
}

.produce-section2__title,
.produce-section4__title,
.produce-section5__title,
.produce-section6__title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.produce-section2__category1,
.produce-section2__category2,
.produce-section2__category3,
.produce-section2__category4,
.produce-section2__category5,
.produce-section2__category6 {
  background-image: url(./../img/hortalizas.jpg);
  background-size: cover;
  height: 35vh;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.produce-section2__category2 {
  background-image: url(./../img/frutas.jpg);
}

.produce-section2__category3 {
  background-image: url(./../img/carnes.jpg);
}

.produce-section2__category4 {
  background-image: url(./../img/lacteos.jpg);
}

.produce-section2__category5 {
  background-image: url(./../img/legumbres.jpg);
}

.produce-section2__category6 {
  background-image: url(./../img/variado.jpg);
}

.produce-section2__category1::after,
.produce-section2__category2::after,
.produce-section2__category3::after,
.produce-section2__category4::after,
.produce-section2__category5::after,
.produce-section2__category6::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.produce-section2__categories-title,
.button--section2-categories {
  z-index: 10;
}

.produce-section2__categories-title {
  color: white;
  font-size: 4.5rem;
  font-weight: normal;
  font-family: var(--logo-font);
  margin: 0;
  color: white;
  text-shadow: 10px 5px 5px black;
}

.button--section2-categories {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 0.8em;
  padding: 0.5rem 0rem;
  width: 30%;
  margin-top: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.produce-section3 {
  width: 100%;
  height: 100vh;
  background: url('./../img/background1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.produce-section3__content {
  background: rgba(34, 34, 34, 0.5);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.produce-section3__text2 {
  display: none;
}

.produce-section3__title,
.produce-section3__text {
  width: 80%;
}

.produce-section3 {
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 93%);
}

.produce-section4__text,
.produce-section5__text,
.produce-section6__text {
  margin: 2rem 0;
}

.produce-section4__img,
.produce-section5__img,
.produce-section6__img {
  margin-top: 2rem;
}

/* ***************** FIN MOBILE PRODUCE ****************************** */

/******************************************************************/
/* *************** DESKTOP PRODUCE ************** */
/********************************************************************/

/************* MEDIAS QUERIES TO DESKTOP PRODUCE ***************/
@media screen and (min-width: 992px) {
  .main-container {
    font-size: 1rem;
  }
  .produce-section1 {
    display: flex;
  }

  .produce-section1__img {
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .produce-section1__img img {
    width: 20rem;
    height: 20rem;
  }

  .produce-section1__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .produce-section1__title {
    text-align: center;
    margin: 0 0 1rem 0;
    padding: 0;
  }

  .produce-section1__text {
    margin: 1rem 0;
    padding: 0;
  }

  .produce-section1__button {
    margin: 1rem 0 0 0;
  }

  .produce-section2 {
    margin-top: 52rem;
  }

  .produce-section2__title {
    text-align: center;
    margin-bottom: 5rem;
  }

  .produce-section2__category1,
  .produce-section2__category2,
  .produce-section2__category3,
  .produce-section2__category4,
  .produce-section2__category5,
  .produce-section2__category6 {
    height: 43vh;
    margin-bottom: 4rem;
  }

  .produce-section2__category1:hover .produce-section2__categories-title,
  .produce-section2__category2:hover .produce-section2__categories-title,
  .produce-section2__category3:hover .produce-section2__categories-title,
  .produce-section2__category4:hover .produce-section2__categories-title,
  .produce-section2__category5:hover .produce-section2__categories-title,
  .produce-section2__category6:hover .produce-section2__categories-title {
    transform: scale(1.2);
    transition: all 0.3s;
  }

  .produce-section2__categories-title {
    font-size: 7rem;
    transition: all 0.3s;
  }

  .button--section2-categories {
    font-size: 0.9rem;
    font-weight: 700;
    color: white;
    border: 0px;
    border-radius: 0;
    position: relative;
    width: 13rem;
    padding: 0.8rem 0;
    background: rgba(0, 0, 0, 0.4);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.3s;
  }

  .button--section2-categories::after,
  .button--section2-categories::before {
    content: ' ';
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 0.3s;
  }

  .button--section2-categories::after {
    top: -1px;
    left: -1px;
    border-top: 3px solid var(--main-color);
    border-left: 3px solid var(--main-color);
  }

  .button--section2-categories::before {
    bottom: -1px;
    right: -1px;
    border-bottom: 3px solid var(--main-color);
    border-right: 3px solid var(--main-color);
  }

  .button--section2-categories:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .button--section2-categories:hover::before,
  .button--section2-categories:hover::after {
    width: 105%;
    height: 130%;
  }

  .produce-section3 {
    position: absolute;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
  }

  .produce-section3__title {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
  }

  .produce-section3__text,
  .produce-section3__text2 {
    text-align: center;
    width: 50%;
  }

  .produce-section3__text2 {
    display: block;
  }

  .produce-section4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    position: relative;
  }

  .produce-section4__content {
    flex-shrink: 0;
    flex-grow: 0;
    width: 50%;
  }

  .produce-section4__button {
    margin-right: 0;
    margin-left: 0;
  }

  .produce-section4__img {
    display: flex;
    margin: 0;
  }

  .produce-section5 {
    margin: 7rem 0;
  }

  .produce-section5,
  .produce-section6 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 6rem;
  }

  .produce-section5__content {
    text-align: right;
  }

  .produce-section5__img,
  .produce-section6__img {
    flex: 0 0 50%;
  }

  .produce-section5__img img,
  .produce-section6__img img {
    width: 23rem;
    display: block;
  }

  .produce-section5__button {
    margin-right: 0;
  }

  .produce-section6 {
    flex-direction: row;
    margin-bottom: 7rem;
  }
  .produce-section6__img {
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
  }

  .produce-section6__button {
    margin-left: 0;
  }
}

/******************FIN MEDIA QUERIES DESKTOP PRODUCE *************************/

/* *****************FIN DESKTOP PRODUCE **************** */
/****************************************************/

/***********************************************************
*********** INICIO HORTALIZAS MOBILE *********************** 
 ***********************************************************/

.vegetables-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.vegetables-card1,
.vegetables-card2,
.vegetables-card3,
.vegetables-card4,
.vegetables-card5,
.vegetables-card6,
.vegetables-card7,
.vegetables-card8,
.vegetables-card9,
.vegetables-card10,
.vegetables-card11,
.vegetables-card12 {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  border-radius: 18px;
  background-color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.vegetables-card1__container-image,
.vegetables-card2__container-image,
.vegetables-card3__container-image,
.vegetables-card4__container-image,
.vegetables-card5__container-image,
.vegetables-card6__container-image,
.vegetables-card7__container-image,
.vegetables-card8__container-image,
.vegetables-card9__container-image,
.vegetables-card10__container-image,
.vegetables-card11__container-image,
.vegetables-card12__container-image {
  height: 16rem;
  margin-bottom: 3rem;
}

.vegetables-card1__image,
.vegetables-card2__image,
.vegetables-card3__image,
.vegetables-card4__image,
.vegetables-card5__image,
.vegetables-card6__image,
.vegetables-card7__image,
.vegetables-card8__image,
.vegetables-card9__image,
.vegetables-card10__image,
.vegetables-card11__image,
.vegetables-card12__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 18px 18px 0 0;
}

.button--vegetables-card1,
.button--vegetables-card2,
.button--vegetables-card3,
.button--vegetables-card4,
.button--vegetables-card5,
.button--vegetables-card6,
.button--vegetables-card7,
.button--vegetables-card8,
.button--vegetables-card9,
.button--vegetables-card10,
.button--vegetables-card11,
.button--vegetables-card12 {
  background-color: rgb(255, 7, 110);
  font-size: 0.7rem;
  border: none;
  text-transform: uppercase;
  width: 8rem;
  text-align: center;
  color: white;
  margin-bottom: 0.7rem;
  display: block;
}

.button--vegetables-card2 {
  background-color: rgb(52, 152, 219);
}

.button--vegetables-card3 {
  background-color: rgb(46, 204, 113);
}

.button--vegetables-card4 {
  background-color: rgb(175, 122, 197);
}

.button--vegetables-card5 {
  background-color: rgb(243, 156, 18);
}

.button--vegetables-card6 {
  background-color: rgb(255, 0, 51);
}

.button--vegetables-card7 {
  background-color: rgb(158, 157, 36);
}

.button--vegetables-card8 {
  background-color: rgb(38, 166, 154);
}

.button--vegetables-card9 {
  background-color: rgb(26, 35, 126);
}

.button--vegetables-card10 {
  background-color: rgb(255, 7, 110);
}

.button--vegetables-card11 {
  background-color: rgb(52, 152, 219);
}

.button--vegetables-card12 {
  background-color: rgb(46, 204, 113);
}

.vegetables-card__title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 0.3rem;
}

.vegetables-card__content {
  color: grey;
  font-weight: 300;
  text-align: center;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-bottom: 3rem;
}

.vegetables-card1__buy,
.vegetables-card2__buy,
.vegetables-card3__buy,
.vegetables-card4__buy,
.vegetables-card5__buy,
.vegetables-card6__buy,
.vegetables-card7__buy,
.vegetables-card8__buy,
.vegetables-card9__buy,
.vegetables-card10__buy,
.vegetables-card11__buy,
.vegetables-card12__buy {
  display: flex;
  height: 5rem;
  background-color: rgb(255, 7, 110);
  border-radius: 0 0 18px 18px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.vegetables-card2__buy {
  background-color: rgb(52, 152, 219);
}

.vegetables-card3__buy {
  background-color: rgb(46, 204, 113);
}

.vegetables-card4__buy {
  background-color: rgb(175, 122, 197);
}

.vegetables-card5__buy {
  background-color: rgb(243, 156, 18);
}

.vegetables-card6__buy {
  background-color: rgb(255, 0, 51);
}

.vegetables-card7__buy {
  background-color: rgb(158, 157, 36);
}

.vegetables-card8__buy {
  background-color: rgb(38, 166, 154);
}

.vegetables-card9__buy {
  background-color: rgb(26, 35, 126);
}

.vegetables-card10__buy {
  background-color: rgb(255, 7, 110);
}

.vegetables-card11__buy {
  background-color: rgb(52, 152, 219);
}

.vegetables-card12__buy {
  background-color: rgb(46, 204, 113);
}

.vegetables-card__buy1,
.vegetables-card__buy2,
.vegetables-card__buy3,
.vegetables-card__buy4,
.vegetables-card__buy5,
.vegetables-card__buy6,
.vegetables-card__buy7,
.vegetables-card__buy8,
.vegetables-card__buy9,
.vegetables-card__buy10,
.vegetables-card__buy11,
.vegetables-card__buy12 {
  width: 33.3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.vegetables-card__buy2 {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.vegetables-card__buy1-icon,
.vegetables-card__buy2-icon,
.vegetables-card__buy3-icon {
  font-size: 1.5rem;
}

/* ***** estilos de ventanas modales **** */
.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal-container1 {
  /* opacity: 1; */
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: white;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}

/* **** fin estilos ventanas modales ******* */

/***********************************************************
*********** FIN HORTALIZAS MOBILE *********************** 
 ************************************************************/

/* *********************************************************************** */
/* ************* INICIO HORTALIZAS DESKTOP ********************************* */
/* ************************************************************************** */
@media screen and (min-width: 992px) {
  .main-header {
    width: 80vw;
  }

  .vegetables-title {
    text-align: center;
    margin: 5rem 0;
  }

  .vegetables-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .vegetables-card1,
  .vegetables-card2,
  .vegetables-card3,
  .vegetables-card4,
  .vegetables-card5,
  .vegetables-card6,
  .vegetables-card7,
  .vegetables-card8,
  .vegetables-card9,
  .vegetables-card10,
  .vegetables-card11,
  .vegetables-card12 {
    max-width: 30%;
    margin-bottom: 4rem;

    transition: 0.5s ease;
  }

  .vegetables-card1:hover,
  .vegetables-card2:hover,
  .vegetables-card3:hover,
  .vegetables-card4:hover,
  .vegetables-card5:hover,
  .vegetables-card6:hover,
  .vegetables-card7:hover,
  .vegetables-card8:hover,
  .vegetables-card9:hover,
  .vegetables-card10:hover,
  .vegetables-card11:hover,
  .vegetables-card12:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  }

  .vegetables-card1__container-image,
  .vegetables-card2__container-image,
  .vegetables-card3__container-image,
  .vegetables-card4__container-image,
  .vegetables-card5__container-image,
  .vegetables-card6__container-image,
  .vegetables-card7__container-image,
  .vegetables-card8__container-image,
  .vegetables-card9__container-image,
  .vegetables-card10__container-image,
  .vegetables-card11__container-image,
  .vegetables-card12__container-image {
    height: 12rem;
  }

  .vegetables-card__buy1,
  .vegetables-card__buy2,
  .vegetables-card__buy3 {
    justify-content: center;
  }

  .vegetables-card__buy1-icon,
  .vegetables-card__buy2-icon,
  .vegetables-card__buy3-icon {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
}

/* ************************************************************************ */
/****************** FIN HORTALIZAS DESKTOP ******************************* */
/* ********************************************************************* */

/**********************************************************/
/****************INICIO MOBILE FIRMS ************************/
/* ***************************************************** */
.video-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.video {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.video-container::after {
  content: ' ';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.cta {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 15;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.cta h1 {
  font-size: 4rem;
  font-weight: 100;
  margin: 0 0 3rem 0;
  line-height: 1;
  color: var(--main-color);
}

.cta span {
  text-transform: initial;
  font-size: 8rem;
  font-family: var(--logo-font);
}

.cta-btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 3rem;
  font-size: 1rem;
  transition: all 1s;
  border-radius: 5px;
}

.main-header-firms {
  padding-top: 0;
  padding: 0;
}
.logo-firms {
  display: none;
}

.section1-firms {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section1-firms__title {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.section1-firms__img {
  width: 80%;
  margin: 2rem auto 0 auto;
}

/* section cards */
.card-container {
  /* confirmar si esto es necesario */
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.card {
  /* confirmar si esto es necesario el width*/
  width: 100%;
  height: 40vh;

  position: relative;
  overflow: hidden;
  text-align: center;
  margin-top: 2rem;
  border-radius: 4px;
}

.card__img {
  /* confirmar si esto es necesario */
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__layer-1,
.card__layer-2,
.card__layer-3,
.card__layer-4 {
  position: absolute;
  top: 0;
  right: 15%;
  width: 100%;
  height: 100%;
  background-color: rgba(251, 186, 24, 0.5);
  clip-path: polygon(0 0, 52% 0, 100% 100%, 0% 100%);
}

.card__layer-2 {
  right: 25%;
}

.card__layer-3 {
  clip-path: polygon(0 0, 100% 0, 46% 100%, 0% 100%);
}

.card__layer-4 {
  clip-path: polygon(0 0, 100% 0, 46% 100%, 0% 100%);
  right: 25%;
}

.card__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  z-index: 10;
  font-size: 0.8rem;
  width: 60%;
  padding: 2rem 1rem;
}

.card__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.card__button {
  padding: 0.4rem 0.4rem;
  background-color: rgba(0, 0, 0);
  color: white;
  width: 60%;
  font-size: 0.8rem;
}
/* ********************* fin mobile FIRMS ****************** */

/* ***************************************** */
/****************** INICIO DESKTOP FIRMS ********* */
/* ******************************************************** */

@media screen and (min-width: 992px) {
  .cta-btn:hover {
    background-color: var(--main-modal-color);
  }

  .logo-firms {
    display: block;
    color: white;
  }
  .main-header-firms {
    position: absolute;
    background-color: transparent;
    z-index: 150;

    width: 80vw;
    max-width: 1200px;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .panel-firms {
    background-color: transparent;
  }

  .menu__item-firms .menu__link-firms {
    color: white;
  }

  .login-user__item-firms .login-user__link-firms {
    color: white;
  }

  .section1-firms__content {
    display: flex;
    align-items: center;
    margin-top: 2rem;
  }

  .section1-firms__text {
    width: 50%;
  }
  .section1-firms__img {
    width: 50%;
    margin: 0;
  }

  .section1-firms__img img {
    display: block;
  }

  .card-container {
    justify-content: space-between;
  }

  .card {
    width: 47%;
    margin-bottom: 1rem;
  }

  .card__img {
    transition: all 300ms;
  }

  .card__layer-1 {
    right: 65%;
    transition: all 300ms;
  }

  .card__layer-2 {
    right: 59%;
    transition: all 500ms;
  }

  .card__layer-3 {
    right: 59%;
    transition: all 900ms;
    -webkit-box-shadow: 0px 1px 20px -5px black;
    box-shadow: 0px 1px 20px -5px black;
  }

  .card__layer-4 {
    right: 65%;
    transition: all 700ms;
  }

  .card:hover .card__layer-1 {
    right: 0%;
    transition: all 900ms;
  }

  .card:hover .card__layer-2 {
    right: 7%;
    transition: all 300ms;
  }

  .card:hover .card__layer-3 {
    transition: all 500ms;
    right: 0%;
  }

  .card:hover .card__layer-4 {
    transition: all 700ms;
    right: 7%;
  }

  .card:hover .card__img {
    transform: scale(1.4);
    transition: all 300ms;
    opacity: 0.8;
  }

  .card__title,
  .card__text,
  .card__button {
    opacity: 0;
    transform: scale(0.2);
    transition: all 300ms;
  }

  .card__text {
    transform: scale(1.5);
    font-size: 1rem;
  }

  .card__title {
    font-size: 1.5rem;
  }

  .card__button {
    padding: 0.8rem 4rem;
  }

  .card:hover .card__title,
  .card:hover .card__button,
  .card:hover .card__text {
    opacity: 1;
    transition: all 300ms;
    transform: scale(1);
  }

  .card:hover .card__text {
    transition: all 500ms;
  }
}
