/* BASIS HTML */
html{
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

*,
*:after,
*:before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}


/* ----------------------------------------------------------------------------------------------------------- */


/* ROOT - VARIABLES */
:root{
    --main-container-width: 1200px;
}


/* ----------------------------------------------------------------------------------------------------------- */


/* IMAGENES */ 
img{
    /* Utilizar siempre estas reglas para que las imagenes sean responsive*/
    max-width: 100%;
    height: auto;
}

.grass{
    width: 60%;
}

.girl-comment{
    border: 1px solid darkgray;
    border-radius: 50%;
    width: 10%;
}


/* ----------------------------------------------------------------------------------------------------------- */


/* MAIN CONTAINER */
.main-container{
    max-width: var(--main-container-width);
    margin: 0 auto;
    width: 80vw; 
    
}


/* ----------------------------------------------------------------------------------------------------------- */


/* CONTENEDOR PADRE - MENU */
.nav-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}


/* CONTENEDORES HIJOS - MENU */
.nav-logo{
    font-size: 4rem;
    font-family: 'Cookie', cursive;
}

nav ul a{
    margin: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

nav ul a:hover{
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    border: 1px solid lightgrey;
    border-radius: 1px 40px 40px 40px;
}


/* TEXTOS SOMBREADOS DEL NAV - MENU */
.home{
    font-weight: bold;
}

.log{
    margin-right: 0;
    font-weight: bold;
    border: 1px solid lightgrey;
    border-radius: 1px 40px 40px 40px;
}


/* ----------------------------------------------------------------------------------------------------------- */


/* CONTENDOR PADRE - SECTION 1 */
.section-one{
    margin-top: 2rem;
    display: flex;
}


/* CONTENEDORES HIJOS - SECTION 1 */
.section-one-cell-one{
    display: flex;
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
}

.section-one-cell-two{
    display: flex;
    justify-content: flex-end;
}


/* TEXTOS - SECTION 1 */
.section-one-cell-one h1{
    margin-bottom: 1.5rem;
}

.section-one-cell-one p{
    margin-bottom: 1.5rem;    
}


/* BOTON DEL SECTION 1 */
.btn-press-one{
    text-align: center;
    color: white;
    text-decoration: none;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 40px;
    width: 30%;
    padding: 0.5rem 0;
}


/* ----------------------------------------------------------------------------------------------------------- */


/* CONTENEDOR PADRE - SECTION ICONS */
.section-icons{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}


/* CONTENEDORES HIJOS - SECTION ICONS */
.cell-one-icons{
    display: flex;
    flex-direction: row;
}

.cell-one-icons div{
    text-align: center;
}


/* ICONOS Y TEXTOS - SECTION ICONS */
.section-icons h1{
    text-align: center;
    margin-bottom: 3rem;
}

.cell-one-icons div i{
    border: 1px solid black;
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.cell-one-icons div p{
    margin: 2rem;
}

.cell-one-icons div:not(:last-child){
    /* con :not(:lasth-child) -> aplicamos el efecto a 
    todos los elementos excepto al ultimo */
    border-right: 1px dashed darkgrey;
}


/* ----------------------------------------------------------------------------------------------------------- */


/* CONTENDOR PADRE - SECTION 2 */
.section-two{
    margin-top: 4rem;
    display: flex;
    flex-direction: row-reverse;
    
}


/* CONTENEDORES HIJOS - SECTION 2 */
.section-two-cell-one{
    display: flex;
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
}

.section-two-cell-two{
    display: flex;
    justify-content: flex-start;
}


/* TEXTOS - SECTION 2 */
.section-two-cell-one h1{
    margin-bottom: 1.5rem;
}

.section-two-cell-one p{
    margin-bottom: 1.5rem;    
}


/* BOTON DEL SECTION 2 */
.btn-press-two{
    text-align: center;
    color: black;
    text-decoration: none;
    background: white;
    border: 1px solid black;
    border-radius: 40px;
    width: 30%;
    padding: 0.5rem 0;
}


/* ----------------------------------------------------------------------------------------------------------- */


/* CONTENDOR PADRE - SECTION 3 */
.section-three{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    
}


/* CONTENEDORES HIJOS - SECTION 3 */
.section-three-cell-one{
    display: flex;
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: column;
    justify-content: center;
    
}

.section-three-cell-two{
    display: flex;
    justify-content: flex-end;
    
}


/* TEXTOS - SECTION 3 */
.section-three-cell-one h1{
    margin-bottom: 1.5rem;
}

.section-three-cell-one p{
    margin-bottom: 1.5rem;    
}


/* BOTON DEL SECTION 3 */
.btn-press-three{
    text-align: center;
    color: black;
    text-decoration: none;
    background: white;
    border: 1px solid black;
    border-radius: 40px;
    width: 30%;
    padding: 0.5rem 0;
}


/* ----------------------------------------------------------------------------------------------------------- */


/* CONTENDOR PADRE - SECTION 4 */
.section-four{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
}


/* CONTENEDORES HIJOS - SECTION 4 */
.section-four-cell-two{
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
}

.section-four-cell-two-child-icons{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    align-items: center;
}

.section-four-cell-two-child-icons h2{
    margin-bottom: 1rem;
}

.section-four-cell-two-child-icons div{
    margin-left: 1rem;
}

.section-four-cell-two h1{
    margin-bottom: 2rem;
}

.section-four-cell-two-icons div i{
    border: 1px solid black;
    border-radius: 50%;
    padding: 1rem;
}


/* ----------------------------------------------------------------------------------------------------------- */


/* CONTENEDOR PADRE - SECTION COMMENTS */
.section-comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}


/* DETALLES DE ETIQUETAS - SECTION COMMENT */
.section-comments h2{
    margin-bottom: 2rem;
}

.section-comments i{
    margin-bottom: 4rem;
}

.section-comments h3{
    margin-bottom: 1rem;
}

.section-comments p{
    width: 55%;
    text-align: center;
    margin-bottom: 1rem;
}

.section-comments img{
    margin-bottom: 1rem;
}

.section-comments-arrows i {
    margin: 0rem 4rem;
}


/* ----------------------------------------------------------------------------------------------------------- */


/* CONTENEDOR PADRE - SECTION FOOTER */
.section-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6rem;
}


/* CONTENEDORES HIJOS Y SUB-PADRES - SECTION FOOTER */
.section-footer-logo{
    font-size: 3rem;
    font-family: 'Cookie', cursive;
    align-self: center;
}

.section-footer-one{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
}

.section-footer-one-icons{
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    align-items: center;   
}

.section-footer-two a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: 2.5rem;
    color: black;
}

.section-footer-three a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-bottom: 2.5rem;
    color: black;
}


/* DETALLES DE ETIQUETAS - SECTION FOOTER */
.section-footer-one-icons i{
    border: 1px solid black;
    border-radius: 50%;
    padding: 1rem;
}


.section-footer-one-icons div p{
    margin-bottom: 1rem;
    margin-left: 1rem;
}


/* ----------------------------------------------------------------------------------------------------------- */


/* AGREGAMOS LOS HIDDEN (DISPLAY : NONE) RESPECTIVOS PARA EL LOGO-HAMBURGUESA Y EL MENU-HAMBURGUESA */
.logo-hidden{
    display: none;
}

button.panel-btn{
    display: none;
}

.section-footer-responsive{
    display: none;
}


/* ----------------------------------------------------------------------------------------------------------- */


/* APLICANDO MEDIA QUERY - MEDIDA PREDEFINIDA PARA TABLET Y CELULAR */
@media screen and (max-width: 992px) {


    /* NAV CONTAINER */
    .nav-container {
        /* este bloque de codigo corresponde al menu y tiene como funcionalidad 
        hacer fijo el menu y que cuando lo abramos no abarque pantalla */
        position: fixed; 
        z-index: 998; 

        /* este bloque de codigo hace que los bordes del menu no se muestren por sí solos - 
        además de ello hace que cuando abramos el menu la posicion sea en toda la pantalla */
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;

        /* fondo de color del menu */
        background-color: rgba(34, 34, 34, 0.9); 
        
        /* Transiciones del menu al ser abierto y cerrado - además hace que el menu 
        no este abierto por sí solo */
        transition: transform 0.3s ease;
        transform: translate(-100%, 0);
        
        /* Opciones "Flex" del Menu Container */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 2rem;
    }


    /* HACE QUE EL MENU SE DESPLIEGUE CUANDO LO PRESIONEMOS */
    .nav-container.is-active {
        transform: translate(0, 0);
    }  


    /* BOTON DEL MENU */
    button.panel-btn {
        position: fixed;
        z-index: 999; /* hace que el menu se sobreponga ante fixed - de esa forma nos permite presionar denuevo el menu para cerrarlo */
        bottom: 1vh;
        right: 1vw;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: cornflowerblue;
    }
    

    /* DETALLES DEL MENU HAMBURGUESA */
    .nav-menu ul,
    .nav-login ul {
        display: flex;
        flex-direction: column;
        letter-spacing: 2px;
        text-align: center;
    }
    

    .nav-logo {
        color: cornflowerblue;
        margin-top: 1rem;
        margin-bottom: 0;
        font-size: 4rem;
    }
    

    .nav-menu a,
    .nav-login a {
        color: cornflowerblue;
        font-size: 1.2rem;
    }
    

    .nav-menu a {
        margin-top: 0;
    }
    
    .nav-login a {
        margin: 0;
    }

    
    /* BORDE DEL LOGIN ACTIVADO POR DEFECTO - LO DESACTIVAMOS PARA EL MENU HAMBURGUESA */
    .log{
        margin-right: 0;
        font-weight: bold;
        border: 0px solid lightgrey;
        border-radius: 0px 0px 0px 0px;
    }


/* ------------------------------------------------------------------------------------------------------------ */
    

    /* LOGO HIDDEN */
    .logo-hidden {
        display: block;
        color: black;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 0;
        padding: 1rem 0;
        background-color: white;
    }
    

/* ----------------------------------------------------------------------------------------------------------- */


    /* CONTENDOR PADRE - SECTION 1 */
    .section-one{
        margin-top: 8rem;
        flex-direction: column;
        align-items: center;
    }


    /* CONTENEDORES HIJOS - SECTION 1 */
    .section-one-cell-one{
        width: 100%;
        align-items: center;
    }

    .section-one-cell-two{
        justify-content: center;
    }


    /* TEXTOS - SECTION 1 */
    .section-one-cell-one h1{
        text-align: center;
    }

    .section-one-cell-one p{
        text-align: center;  
    }


    /* BOTON DEL SECTION 1 */
    .btn-press-one{
        width: 30%;
        margin-bottom: 3rem;
    }
    

    /* IMAGEN DEL SECTION 1 */
    .grass{
        width: 50%;
    }


/* ------------------------------------------------------------------------------------------------------------ */


    /* CONTENEDOR PADRE - SECTION ICONS */
    .section-icons{
        margin-top: 5rem;
    }


    /* CONTENEDORES HIJOS - SECTION ICONS */
    .cell-one-icons{
        flex-direction: column;
    }

    .cell-one-icons div{
        margin-bottom: 3rem;
    }


    /* ICONOS Y TEXTOS - SECTION ICONS */
    .section-icons h1{
        margin-bottom: 3rem;
    }

    .cell-one-icons div i{
        margin-bottom: 0rem;
    }

    .cell-one-icons div p{
        margin-bottom: 2rem;
    }

    .cell-one-icons div:not(:last-child){
        /* con :not(:lasth-child) -> aplicamos el efecto a 
        todos los elementos excepto al ultimo */
        border-right: 0px dashed darkgrey;
        border-bottom: 1px dashed darkgrey;
    }


/* ------------------------------------------------------------------------------------------------------------ */


    /* CONTENDOR PADRE - SECTION 2 */
    .section-two{
        margin-top: 0rem;
        flex-direction: column;
        align-items: center;
    }


    /* CONTENEDORES HIJOS - SECTION 2 */
    .section-two-cell-one{
        width: 100%;
        align-items: center;
    }

    .section-two-cell-two{
        justify-content: center;
    }


    /* TEXTOS - SECTION 2 */
    .section-two-cell-one h1{
        text-align: center;
    }

    .section-two-cell-one p{
        text-align: center;    
    }


    /* BOTON DEL SECTION 2 */
    .btn-press-two{
        width: 30%;
        margin-bottom: 3rem;
    }


/* ------------------------------------------------------------------------------------------------------------ */


    /* CONTENDOR PADRE - SECTION 3 */
    .section-three{
        margin-top: 6rem;
        flex-direction: column;
        align-items: center;
    }


    /* CONTENEDORES HIJOS - SECTION 3 */
    .section-three-cell-one{
        width: 100%;
        align-items: center;
    }

    .section-three-cell-two{
        justify-content: center;
    }


    /* TEXTOS - SECTION 3 */
    .section-three-cell-one h1{
        text-align: center;
    }

    .section-three-cell-one p{
        text-align: center;    
    }


    /* BOTON DEL SECTION 3 */
    .btn-press-three{
        width: 30%;
        margin-bottom: 3rem;
    }


/* ------------------------------------------------------------------------------------------------------------ */


    /* CONTENDOR PADRE - SECTION 4 */
    .section-four{
        margin-top: 6rem;
        flex-direction: column-reverse;
    }


    /* CONTENEDORES HIJOS - SECTION 4 */
    .section-four-cell-two{
        width: 100%;
        align-items: center;
    }

    .section-four-cell-one{
        text-align: center;
    }


    .section-four-cell-two-icons{
        margin-top: 1rem;
    }

    .section-four-cell-two-child-icons{
        flex-direction: column-reverse;
        margin-bottom: 3rem;
        align-items: center;
    }

    .section-four-cell-two-child-icons div{
        text-align: center;
    }

    .section-four-cell-two-child-icons h2{
        margin-bottom: 1rem;
    }

    .section-four-cell-two-child-icons p{
        margin-bottom: 1rem;
    }

    
/* ----------------------------------------------------------------------------------------------------------- */


    /* CONTENEDOR PADRE - SECTION COMMENTS */
    .section-comments{
        margin-top: 6rem;
    }


    /* DETALLES DE ETIQUETAS - SECTION COMMENT */
    .section-comments h2{
        margin-bottom: 1rem;
    }

    .section-comments i{
        margin-bottom: 1rem;
    }

    .section-comments h3{
        margin-bottom: 1rem;
    }

    .section-comments p{
        width: 100%;
    }

    .section-comments img{
        width: 50%;
        margin-bottom: 1rem;
    }

    
/* ----------------------------------------------------------------------------------------------------------- */


    /* CONTENEDOR PADRE - SECTION FOOTER - HIDDEN */
    .section-footer{
        display: none;
    }


    /* CONTENEDOR PADRE - SECTION FOOTER RESPONSIVE */
    .section-footer-responsive{
        display: flex;
        flex-direction: row;
        margin-top: 6rem;
        width: 100%;
        
    }


    /* CONTENEDORES HIJOS Y SUBPADRES - SECTION FOOTER RESPONSIVE */
    .section-footer-one-responsive{
        width: 50%;
        margin-bottom: 5rem;
    }

    .section-footer-one-icons-responsive{
        text-align: center;
        margin-bottom: 5rem;
        border-right: 1px dashed darkgray;
    }

    .section-footer-one-texts-responsive{
        display: flex;
        flex-direction: column;
        text-align: center;
        border-right: 1px dashed darkgray;
    }


    .section-footer-two-responsive{
        width: 50%;
    }

    .section-footer-two-icons-responsive{
        text-align: center;
        margin-bottom: 5rem;
    }

    .section-footer-two-texts-responsive{
        display: flex;
        flex-direction: column;
        text-align: center;   
    }

    /* DETALLES DE ETIQUETAS - SECTION FOOTER RESPONSIVE */
    .section-footer-one-icons-responsive i{
        border: 1px solid black;
        border-radius: 50%;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .section-footer-one-texts-responsive a{
        text-decoration: none;
        color: black;
        margin-bottom: 1rem;
    }

    .section-footer-one-icons-responsive div p{
        margin-bottom: 1rem;
    }


    .section-footer-two-icons-responsive i{
        border: 1px solid black;
        border-radius: 50%;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .section-footer-two-texts-responsive a{
        text-decoration: none;
        color: black;
        margin-bottom: 1rem;
    }

    .section-footer-two-icons-responsive div p{
        margin-bottom: 1rem;
    }


}