:root {
  --main-font: "Lato", sans-serif;
  --main-font2: "Poppins", sans-serif;
  --logo-font: "Cookie", cursive;
  --font-size: 16px;
  --main-color: rgb(251, 186, 24);
  --second-color: #222;
  --main-modal-color: rgba(251, 186, 24, 0.85);
  --second-modal-color: rgba(34, 34, 34, 0.9);
  --container-width: 1200px;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

img {
  max-width: 100%;
  height: auto;
}

.btn_black {
  background-color: black;
  height: 7vh;
  border-radius: 25px;
  color: white;
  width: 30%;
}

.container {
  width: 80vw;
  /* esta linea es por las puras */
  /* height: 100%; */
  margin: 0 auto;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
  flex-basis: 100%;
  flex-shrink: 0;
  height: 12vh;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 200;
}

.logo {
  width: 20%;
}

.logo img {
  width: 70%;
  height: 100%;
}

.menu-items {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-around;
}

.menu-user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 20%;
}

.menu-user li {
  padding-right: 2em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2d2d2d;
}
.section-1 {
  display: flex;
  width: 100%;
  height: 75vh;
  justify-content: center;
}

.section-1-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  padding-bottom: 4em;
}

.section-1-info h1 {
  font-size: 60px;
  margin-bottom: 0.5em;
}

.section-1-info p {
  font-size: 20px;
  margin-bottom: 1.5em;
}

.section-1-img {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}

.section-2 {
  margin-top: 10vh;
  height: 50vh;
}

.section-2 h1 {
  text-align: center;
  margin-bottom: 2.5em;
}

.section-2-firming {
  display: flex;
}

.section-2-firming .firming {
  text-align: center;
  width: 25%;
  border-right: 1px dotted #2d2d2d;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.section-2-firming .firming:nth-child(4) {
  border-right: 0;
}

.section-2-firming .firming i {
  font-size: 48px;
  padding: 0.3em;
  margin-bottom: 2em;
  border-radius: 50%;
  border: 1px solid #2d2d2d;
}

.section-2-firming .firming p {
  margin-top: 3em;
}

.section-3 {
  display: flex;
  flex-direction: row-reverse;
}

.section-3-info {
  flex-shrink: 0;
  flex-grow: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 6em;
}

.section-3-img {
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
  width: 50%;
}

.section-5 {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-direction: row-reverse;
  margin-top: 7em;
}

.section-5-info h1 {
  font-size: 3em;
  margin-bottom: 0.7em;
}

.section-5-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* cambie esto */
  height: 100%;
}

.section-5-info,
.section-5-img {
  width: 50%;
  flex-shrink: 0;
  flex-grow: 0;
}

/* cambie estas tres propiedades */
.section-5-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-5-content-1,
.section-5-content-2,
.section-5-content-3 {
  display: flex;
}

.section-5-content-1,
.section-5-content-2 {
  margin-bottom: 2em;
}

.section-5-content-1 .section-5-images-image-1 i,
.section-5-content-2 .section-5-images-image-2 i,
.section-5-content-3 .section-5-images-image-3 i {
  font-size: 2.3em;
  /* cambie las dos siguientes lineas */
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: 1px solid black;
  /* quite esta linea */
  /* padding: 0.3em; */
  text-align: center;
  margin-right: 1em;
}

.section-5-content-1 .section-5-images-image-1 i::before,
.section-5-content-2 .section-5-images-image-2 i::before,
.section-5-content-3 .section-5-images-image-3 i::before {
  line-height: 65px;
  text-align: center;
}

.section-5-img img {
  width: 27em;
}

/**blog***/

.section-header {
  margin-top: 12vh;
  height: 80vh;
  position: relative; /**el padre siempre debe ser relative*/
}

.section-header-content {
  position: absolute; /**moverlo por todo el contenedor padre, se mueve dentro del relative*/
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-header img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.section-header::after {
  content: " ";
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section-header-content-title {
  font-size: 5em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  z-index: 100;
  text-shadow: 2px 2px 6px #000;
}

.section-body {
  display: flex;
  position: relative;
}

/**right*/

.section-body-right {
  width: 27%;
  position: absolute;
  top: -90px;
  right: 0;
  background-color: #f8f8f8;
  text-align: left;
  border-radius: 5px;
}

.section-body-right-card img {
  border-radius: 50%;
  width: 7em;
  height: 7em;
  object-fit: cover;
}

.section-body-right-card h1 {
  color: #000;
}

.section-body-right-card {
  margin-bottom: 2em;
  background-color: #fff;
  padding: 2em;
  text-align: justify;
  border-radius: 5px;
}

.section-body-right-card img {
  margin-top: 1em;
  margin-bottom: 1em;
}

.card-latest img {
  border-radius: 0;
  width: 100%;
}

.card-latest h1 {
  font-size: 20px;
}

.card-latest-description {
  margin-top: 1em;
  text-align: left;
  margin-bottom: 1em;
}

.read-more-latest {
  padding: 0.5em 1em 0.5em 1em;
}

.section-body-right-card-latest {
  background-color: #fff;
}

.card-latest {
  margin-bottom: 0;
  padding-top: 0;
}

.card-latest:nth-child(1) {
  padding-top: 2em;
}

/**left**/

.section-body-left {
  width: 73%;
  padding-right: 5em;
}

.section-body-left h1 {
  font-size: 36px;
  font-weight: 900;
  margin-top: 1em;
}

.section-body-left-block .img-post {
  position: relative;
}

.section-body-left-block .img-post img {
  display: block;
  object-fit: cover;
  margin-top: 2em;
  height: 70vh;
  width: 100%;
}

.section-body-left-block .img-post figcaption {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  padding: 0.8em;
  width: 9em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-body-left-block h2 {
  font-size: 26px;
  margin-top: 0.9em;
}

.section-body-left-block-subtitle {
  color: #a5a4a4;
  font-size: 14px;
}

.section-body-left-block-subtitle span {
  color: #000;
  text-transform: uppercase;
}

.section-body-left-block-description {
  margin-top: 1em;
}

.read-more {
  margin-top: 1em;
  padding: 0.8em 1.9em 0.8em 1.9em;
  text-transform: uppercase;
}

.section-body-left-block {
  margin-bottom: 1em;
}

/**category*/

.card-category {
  margin-top: 2em;
}

/**container videos*/

.container-2 {
  background-color: #e7e7e7;
  width: 100%;
  height: auto;
  margin-top: 4em;
  padding-bottom: 4em;
}

.container-2 h1 {
  padding-top: 1.5em;
  margin-bottom: 1.5em;
  color: #000;
  text-align: center;
}

.container-2-videos {
  display: flex;
  justify-content: space-between;
}

.video-1,
.video-2,
.video-3 {
  width: 32%;
  border: 1px solid gray;
  padding: 1.5em;
  position: relative;
}

.video-1 img,
.video-2 img,
.video-3 img {
  object-fit: cover;
  width: 100%;
  height: 40vh;
}

.video-1 h2,
.video-2 h2,
.video-3 h2 {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 0.8em;
}

.video-1 p,
.video-2 p,
.video-3 p {
  text-align: center;
}

.video-1-img,
.video-2-img,
.video-3-img {
  position: relative;
  overflow: hidden;
}

.video-1-img img,
.video-2-img img,
.video-3-img img {
  display: block;
  transition: all 0.3s linear;
}

.video-1-img:hover img,
.video-2-img:hover img,
.video-3-img:hover img {
  transform: scale(1.2);
}

.fa-play-circle {
  position: absolute;
  display: block;
  font-size: 34px;
  bottom: 149px;
  left: 44%;
  color: #000;
  transition: all 0.8s linear;
}

.fa-play-circle:hover {
  cursor: pointer;
  color: #2d2d2d;
  transform: rotate(360deg);
}

/**footer*/

/* CONTENEDOR PADRE - SECTION FOOTER */
.section-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6rem;
}

/* CONTENEDORES HIJOS Y SUB-PADRES - SECTION FOOTER */
.section-footer-logo {
  font-size: 3rem;
  font-family: "Cookie", cursive;
  align-self: center;
}

.section-footer-one {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}

.section-footer-one-icons {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  align-items: center;
}

.section-footer-two a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 2.5rem;
  color: black;
}

.section-footer-three a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 2.5rem;
  color: black;
}

/* DETALLES DE ETIQUETAS - SECTION FOOTER */
.section-footer-one-icons i {
  border: 1px solid black;
  border-radius: 50%;
  padding: 1rem;
}

.section-footer-one-icons div p {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

/****************** *menu hamburguesa***************/

button .panel-btn {
  display: none;
}

.panel.is-active {
  transform: translate(0, 0);
}

/**responsive*/

/*
 ! medidas
 ? ejeje :D
*/

/* *X-Small devices (portrait phones, less than 576px) */
/* *No media query for `xs` since this is the default in Bootstrap */

/* *Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .section-body-left-block .img-post img {
    height: 40vh;
  }
}

/* *X-Large devices (large desktops, 1200px and up)*/
@media screen and (max-width: 1590px) and (min-width: 769px) {

  .section-header img {
    height: 80vh;
  }

  .section-body-left-block .img-post img {
    height: 70vh;
  }

}

/* *Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  /*.menu-header{
    display: block;
  }*/

  .panel {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100vh;
    transition: transform 0.4s ease;
    transform: translate(-100%, 0);
  }

  button.panel-btn {
    z-index: 2000;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border: 1px solid black;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: rgb(231, 176, 25);
  }

  .menu-header {
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-size: 1.3rem;
  }

  .menu-items {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .menu-items li {
    margin-bottom: 2rem;
  }

  .menu-items li:last-child {
    margin-bottom: 0;
  }

  .menu-user {
    flex-direction: column;
    margin: 0 auto;
  }

  .menu-user li:last-child {
    margin-bottom: 0;
  }

  .menu-user li {
    padding-right: 0;
    margin-bottom: 1rem;
  }

  .menu-user a,
  .menu-items a {
    color: white;
  }

  .section-header {
    height: 65vh;
    margin-top: 0;
  }

  .section-header-content-title {
    font-size: 2rem;
  }

  .section-header img {
    height: inherit;
    object-fit: cover;
  }

  .section-body {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .section-body-left {
    width: 100%;
  }

  .section-body-right {
    width: 100%;
    position: static;
  }

  .section-footer {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  .section-body-left {
    padding-right: 0;
  }

  .logo {
    margin: 0 auto;
  }

  .container-2-videos {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .video-1,
  .video-2,
  .video-3 {
    width: 100%;
    margin-bottom: 2rem;
  }

  .section-footer-logo {
    margin-bottom: 2rem;
    width: 100%;
  }

  .section-footer-one {
    width: 100%;
  }

  .section-footer-one-icons {
    justify-content: space-between;
    align-items: center;
  }

  .section-footer-one-icons div p {
    margin: 0;
  }

  .section-footer-one-icons-content {
    text-align: right;
  }

  .section-footer-two {
    margin-top: 3rem;
  }

  .section-footer-two,
  .section-footer-three {
    width: 50%;
  }

  .section-footer-three {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

/* *Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* *XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
}
